@use "themeprovider/color" as color;
@use "themeprovider/mixins" as mixin;

.interests-section {
  margin-bottom: 7em;
  scroll-margin: 5em;

  h1 {
    @include mixin.section-title();
  }

  .title-slide {
    &::after {
      width: 5em;
    }
  }

  .interests-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 1.5em 0em 1.5em;
    gap: 2.5em;

    .interests-info {
      border: 3.7px solid color.$pink-color;
      border-radius: 15px;
      width: min(22em, 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5em 1em;
      opacity: 0;
      transform: translateY(2em);
      transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;

      .interests-icon {
        width: 3.5em;
        height: 3.5em;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      p {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 1em;
      }
    }

    .fade-up-animate {
      opacity: 1;
      transform: translateY(0em);
    }
  }
}
