@use "mixins" as mixin;
@use "color" as color;

:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: color.$black-color;
}

// Desktop Navbar
.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: color.$black-color;
  padding: 0.3em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // Nav Icon
    label {
      display: flex;
      flex-direction: column;
      position: relative;
      left: 0.7em;
      width: 4.3em;
      cursor: pointer;
      transform: scale(0.75);
      -webkit-tap-highlight-color: transparent;
    }

    label span {
      background: color.$white-color;
      border-radius: 10px;
      height: 7px;
      margin: 7px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(8px, 0px);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(30px, -11px) rotatez(45deg);
    }

    // Web Logo
    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 2.2rem;
      cursor: pointer;
      color: color.$white-color;
      user-select: none;
    }
  }

  div:nth-child(2) {
    display: none;

    p {
      font-family: "Poppins", sans-serif;
      color: color.$white-color;
      font-size: 1.1rem;
      font-weight: 600;
      transition: color 0.6s ease-in-out;
      cursor: pointer;

      &:hover {
        color: color.$sky-blue-color;
      }

      &::after {
        content: "";
        background: color.$sky-blue-color;
        position: relative;
        top: 0.1em;
        display: block;
        width: 0%;
        height: 0.23em;
        transition: width 0.6s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@media (min-width: 48em) {
  .desktop-navbar {
    padding: 0.5em 1.5em;
    @include mixin.navbar-bg();

    div:first-child {
      label {
        display: none;
      }
    }

    div:nth-child(2) {
      display: flex;
      align-items: center;
      gap: 1.5em;
      margin: 0em 0.8em;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

// Mobile Navbar
.mobile-navbar {
  transform: translateY(-150vh);
  width: 100%;
  height: calc(100vh - 4em);
  overflow-y: auto;
  @include mixin.navbar-bg();
  text-align: center;
  line-height: 5em;
  position: fixed;
  z-index: 7;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s ease-in-out;

  p {
    color: color.$white-color;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    transition: background 0.25s ease;

    &:hover {
      background: color.$pink-color;
    }
  }
}

@media (min-width: 48em) {
  .mobile-navbar {
    display: none;
  }
}

// Navbar Active
.navbar-active {
  transform: translateY(4.5em);
}

// Navbar
.navbar-overlay {
  background: color.$black-color-semi-transparent;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 6;
}

.navbar-overlay-active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 48em) {
  .navbar-overlay {
    display: none;
  }
}

// Hero Section
.hero-section {
  .hero-title {
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: 7.1em;
    padding: 0em 1.5em;

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: clamp(1.75rem, 5.5vw, 3.5rem);
      color: color.$white-color;
      text-align: center;
      line-height: 1.1em;
    }
  }

  .hero-landscape {
    position: relative;
    top: 0;
    z-index: 2;
    height: 39em;
    user-select: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-mountain {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 4;
    height: 39em;
    user-select: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gradient-shadow {
    display: block;
    width: 100%;
    height: 13em;
    background: linear-gradient(
      180deg,
      transparent,
      rgba(14, 14, 14, 0.6),
      #000
    );
    margin-top: -13em;
    position: relative;
    z-index: 5;
  }

  @media (min-width: 40em) {
    .hero-title {
      margin-top: 6.65em;
    }

    .hero-landscape {
      height: 50em;
    }

    .hero-mountain {
      height: 50em;
    }
  }
}

// About Section
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 4.5em 2em 8em 2em;

  .profile-picture {
    width: min(17em, 100%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }

    h1 {
      @include mixin.section-title();
    }

    .title-slide {
      &::after {
        width: 5.3em;
      }
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4em;
    width: min(36em, 100%);

    p {
      font-family: "Poppins", sans-serif;
      color: color.$white-color;
      font-size: 1.2rem;
      text-align: center;
      opacity: 0;
      transform: translateY(2em);
      transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
    }

    .fade-up-animate {
      opacity: 1;
      transform: translateY(0em);
    }
  }

  @media (min-width: 46em) {
    flex-direction: row;
    gap: 4em;

    .about-content {
      p {
        text-align: left;
      }
    }
  }
}

// Skills Section
.skills-section {
  margin-bottom: 7em;

  h1 {
    @include mixin.section-title();
  }

  .title-slide {
    &::after {
      width: 3em;
    }
  }

  .skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: min(80em, 85%);
    margin: 2.5em auto 0em auto;

    .skill-content {
      background: color.$pink-color;
      padding: 1.1em;
      border-radius: 15px;
      width: min(20em, 100%);
      opacity: 0;
      transform: translateY(2em);
      transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;

      p {
        font-family: "Poppins", sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        border-bottom: 3.5px solid color.$white-color;
        margin-bottom: 0.3em;
        color: color.$white-color;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.3em;

        li {
          font-family: "Poppins", sans-serif;
          font-size: 1.2rem;
          color: color.$white-color;
        }
      }
    }

    .fade-up-animate {
      opacity: 1;
      transform: translateY(0em);
    }
  }
}

// Projects Section
.projects-section {
  margin-bottom: 7em;

  h1 {
    @include mixin.section-title();
  }

  .title-slide {
    &::after {
      width: 4.5em;
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5em;
    margin: 3.5em auto 0em auto;
    width: min(45em, 85%);
    list-style: none;

    .rev-block {
      position: relative;
      width: 100%;

      .project-content {
        opacity: 0;
        border: 3px solid color.$pink-color;
        padding: 1em;

        p {
          font-family: "Poppins", sans-serif;
          color: color.$white-color;

          &:first-of-type {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.3em;
          }

          &:last-of-type {
            font-size: 1rem;
            margin-bottom: 1em;
          }
        }

        a {
          font-family: "Poppins", sans-serif;
          color: color.$blue-color;
          font-size: 1rem;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: color.$blue-color-hover;
          }
        }
      }

      .reveal-opacity-animate {
        animation: appear-text 0.0001s linear forwards;
        animation-delay: 0.9s;
      }

      &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 0%;
        height: 100%;
        background: color.$pink-color;
      }
    }

    .reveal-animate {
      &::after {
        animation: rev-block 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        animation-delay: 0.3s;
      }
    }
  }
}

// Interests Section
.interests-section {
  margin-bottom: 7em;

  h1 {
    @include mixin.section-title();
  }

  .title-slide {
    &::after {
      width: 5em;
    }
  }

  .interests-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 1.5em 0em 1.5em;
    gap: 2.5em;

    .interests-info {
      border: 3px solid color.$pink-color;
      border-radius: 15px;
      width: min(22em, 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5em 1em;
      opacity: 0;
      transform: translateY(2em);
      transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;

      .interests-icon {
        width: 3.5em;
        height: 3.5em;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      p {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 1em;
      }
    }

    .fade-up-animate {
      opacity: 1;
      transform: translateY(0em);
    }
  }
}

// FAQ Section
.questions-section {
  margin-bottom: 7em;

  h1 {
    @include mixin.section-title();
  }

  .title-slide {
    &::after {
      width: 2.6em;
    }
  }

  .question-and-answer-content {
    display: flex;
    flex-direction: column;
    margin: 2.7em auto 0em auto;
    width: min(90%, 50em);

    .accordion {
      font-family: "Poppins", sans-serif;
      background: color.$pink-color;
      color: color.$white-color;
      cursor: pointer;
      padding: 1.1em;
      font-size: 1.3rem;
      font-weight: 600;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      transition: 0.4s;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .active,
    .accordion:hover {
      background: color.$pink-color;
    }

    .accordion:after {
      content: "\002B";
      color: color.$white-color;
      font-weight: bold;
      font-size: 1.3rem;
      margin-left: 0.7em;
    }

    .active:after {
      content: "\2212";
      color: color.$white-color;
      font-size: 1.3rem;
      margin-left: 0.7em;
    }

    .panel {
      background: color.$pink-color;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin-bottom: 1.5em;
      user-select: none;

      p {
        padding: 0em 1.2em 1.2em 1.2em;
        width: 100%;
        color: color.$white-color;
        line-height: 1.7em;
        font-size: 1.1rem;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}

// Contacts Section
.contacts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: color.$purple-color;
  padding: 7em 1.3em;

  .contact-info {
    h1 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 2.2rem;
      line-height: 1.2em;
    }

    p {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 1.1rem;
      overflow-wrap: anywhere;
      margin-top: 1.2em;
    }
  }

  .contact-links {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;

    a {
      font-size: 2.2rem;
      color: color.$white-color;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: color.$white-color-hover;
      }
    }
  }

  @media (min-width: 30em) {
    padding: 7.2em 2em;

    .contact-info {
      p {
        margin-top: 0.5em;
      }
    }
  }
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
