:root {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
}

.hero-section .hero-title {
  position: absolute;
  width: 100%;
  z-index: 3;
  margin-top: 3.8em;
  padding: 0em 1.5em;
}
.hero-section .hero-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: #ffffff;
  text-align: center;
  line-height: 1.1em;
}
.hero-section .hero-landscape {
  position: relative;
  top: 0;
  z-index: 2;
  height: 39em;
  user-select: none;
}
.hero-section .hero-landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section .hero-mountain {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 4;
  height: 39em;
  user-select: none;
}
.hero-section .hero-mountain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section .gradient-shadow {
  display: block;
  width: 100%;
  height: 13em;
  background: linear-gradient(180deg, transparent, rgba(14, 14, 14, 0.6), #000);
  margin-top: -13em;
  position: relative;
  z-index: 5;
}
@media (min-width: 40em) {
  .hero-section .hero-landscape {
    height: 50em;
  }
  .hero-section .hero-mountain {
    height: 50em;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 4.5em 2em 8em 2em;
}
.about-section .profile-picture {
  width: min(17em, 100%);
}
.about-section .profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.about-section .profile-picture h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-top: 0.35em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section .profile-picture h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.about-section .profile-picture .title-slide::after {
  width: 5.3em;
}
.about-section .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4em;
  width: min(36em, 100%);
}
.about-section .about-content p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(2em);
  transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}
.about-section .about-content .fade-up-animate {
  opacity: 1;
  transform: translateY(0em);
}
@media (min-width: 46em) {
  .about-section {
    flex-direction: row;
    gap: 4em;
  }
  .about-section .about-content p {
    text-align: left;
  }
}

.skills-section {
  margin-bottom: 7em;
}
.skills-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-top: 0.35em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-section h1::after {
  content: "";
  width: 0em;
  height: 0.2em;
  background: #c22085;
  display: block;
  transition: width 1.3s ease-in-out;
}
.skills-section .title-slide::after {
  width: 3em;
}
.skills-section .skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  width: min(80em, 85%);
  margin: 3em auto 0em auto;
}
.skills-section .skills-container .skill-content {
  background: #c22085;
  padding: 1.1em;
  border-radius: 15px;
  width: min(20em, 100%);
}
.skills-section .skills-container .skill-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  border-bottom: 3.5px solid #ffffff;
  margin-bottom: 0.3em;
  color: #ffffff;
}
.skills-section .skills-container .skill-content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.skills-section .skills-container .skill-content ul li {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
