@mixin section-title() {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-top: 0.35em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    width: 0em;
    height: 0.2em;
    background: #c22085;
    display: block;
    transition: width 1.3s ease-in-out;
  }
}

@mixin navbar-bg() {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}
